p {
	font-size: 2rem;
	font-weight: 600;
}

button {
	background: #004567;
	color: white;
	border: none;
	border-radius: 10px;
	padding: 10px;
	margin: 10px;
	font-size: 2rem;
	text-transform: capitalize;
}

button:disabled,
button[disabled] {
	border: 1px solid #999999;
	background-color: #cccccc;
	color: #666666;
}

.CounterPage {
	width: 500px;
	margin: 20px auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
